.menu-container {
    background: var(--menu-bg-color);
    display: flex;
    flex-direction: column;
}

#menu-title{
    font-size: 1.3rem;
}

.menu-item{
    margin: 1rem;
}

.menu-item-name, .menu-item-price{
    font-weight: bold;
}

.menu-item-description{
    font-style: italic;
    padding: .1rem;
    font-size: 1.05rem;
}