:root{
  --home-bg-color: aqua;
  --menu-bg-color: coral;
  --about-bg-color: rgb(28, 183, 59);
  --contact-bg-color: rgb(255, 68, 43);
  cursor: url('./images/dip_32x32.jpg'), auto;
}

html,
body{
    box-sizing: border-box;
}

body{
    background-color: #f0be61;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

*,
*:before,
*:after{
    box-sizing: inherit;
    max-width: 100%;
    margin: 0;
    font-family: 'Lobster Two', sans-serif;
}

#page-title{
  text-align: center;
  padding: .5rem;
  font-size: 1.5rem;
}

nav{
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: .7rem 0;
    justify-content: center;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: url('./images/dip_32x32.jpg'), auto;
    max-width: 20vw;
}

#home-button{
    background-color: var(--home-bg-color);
}
#menu-button{
    background-color: var(--menu-bg-color);
}
#about-button{
    background-color: var(--about-bg-color);
}
#contact-button{
    background-color: var(--contact-bg-color);
}



[class*="container"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    min-width: 60vw;
    max-width: 60vw;
    padding: 2rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(255, 230, 234);
    border: solid black .2rem;
    margin-top: 2rem;
}



/* CSS */
.button-53 {
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  position: relative;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

footer {
  min-height: 2rem;
  width: 100%;
  background: rgb(164, 162, 158);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.github-logo {
    height: 1em;
    width: auto;
}